body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    background-color: #1e1e1e; /* Dark background */
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.top-bar {
    background: #0041BE;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
}

.top-bar img {
    width: auto;
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
}

.top-bar h1 {
    margin-left: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(75vh - 150px); /* Adjust height according to your needs */
}

.login-panel {
    width: 300px;
    padding: 20px;
    background: #2c2c2c; /* Darker panel background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-panel h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px; /* Slightly larger font size */
}

.login-panel input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555; /* Slightly lighter border */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #444; /* Slightly lighter background */
    color: #fff;
}

.login-panel input::placeholder {
    color: #888; /* Lighter placeholder text */
}

.login-panel button {
    width: calc(100% - 20px);
    padding: 10px;
    background: #007bff; /* Green button */
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-panel button:hover {
    background-color: #007bff; /* Darker green on hover */
}

.loginPageH2Style{
    text-align: center;
}

.login-topbar{
    background: #0041BE;
    padding: 10px 0;
}

.login-topbar img{
        margin-left: 20px;
        width: auto;
        height: 50px;
        vertical-align: middle;
}

.login-topbar h1 {
    margin-left: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.side-menu {
    position: fixed;
    top: 90px; /* Adjust top position to leave space for the top bar */
    left: 0;
    width: 200px;
    height: auto;
    background-color: #333;
    color: white;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    color: white;
}

.side-menu ul li a:hover {
    background-color: #555; /* Darker background color on hover */
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding-top: 70px;
}

.product-details {
    width: 50%;
}

.product-image {
    width: 40%;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

p {
    color: white;
}

h2 {
    color: white;
}

button {
    width: 150px;
    padding: 10px;
    background: #007bff; /* Green button */
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 20px; /* Add some space between buttons */
}

.buttons-container button {
        width: 100%; /* Make buttons the same width */
        padding: 15px; /* Add padding to buttons */
}